<div class="container">
    <div id="scene">
        <div class="layer" data-depth-x="-0.5" data-depth-y="-0.25"> 
            <img src="/angular-portfolio/assets/images/moon.png" alt="moon">
        </div>
        <div class="layer" data-depth-x="-0.15">
            <img src="/angular-portfolio/assets/images/mountains01.png" alt="moon">
        </div>
        <div class="layer" data-depth-x="-0.25">
            <img src="/angular-portfolio/assets/images/mountains02.png" alt="moon">
        </div>
        <div class="layer" data-depth-x="-0.25">
            <img src="/angular-portfolio/assets/images/road.png" alt="moon">
        </div>
    </div>
</div>
<div class="login">
    <h2>Sign In</h2>
    <div class="inputBox">
        <input type="text" placeholder="Username">
    </div>
    <div class="inputBox">
        <input type="password" placeholder="Password">
    </div>
    <div class="inputBox">
        <input type="submit" value="Login" id="btn">
    </div>
    <div class="group">
        <a href="#">Forget Password</a>
        <a href="#">Sign Up</a>
    </div>
</div>